/* Third-party libraries */
@import "../third/icons-1.4.1/font/bootstrap-icons.css";

@import "themes/main.css";

/* Positioning & helpers */
@import "helpers.css";
@import "typography.css";
@import "row.css";
@import "icons.css";
@import "shapes.css";

/* Elements & and components */
@import "card.css";
@import "form.css";
@import "button.css";
@import "section.css";
@import "content.css";
@import "container.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}